<div class="campaign-page">

    <div class="header-container">

        <h1 class="page-header">Our current campaigns</h1>
        <div class="sidebar-container">
            <%= erb :'_partials/_sidebar' %>
        <p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
        <p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>

        <ul class="links-list">
            <li>
                <a class="link">Lorem ipsum</a>
            </li>
            <li>
                <a class="link">Dolar</a>
            </li>
            <li>
                <a class="link">Sit amet</a>
            </li>
        </ul>
            </div>


    </div>
</div>

