<div class="elected-representatives-page">

    <div class="header-container">
        <h1 class="page-header">Elected Representatives</h1>

        <div class="sidebar-container">
            <%= erb :'_partials/_sidebar' %>
        <h2 class="secondary-header">Karen Buck</h2>
        <p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
        <a class="red-button" href="#">Karen Buck Website</a>
        <h2 class="secondary-header">Councillors</h2>
        <ul class="links-list">
            <li>
                <a class="link" href="#">Lorem ipusm</a>
            </li>
            <li>
                <a class="link" href="#">Dolar</a>
            </li>
            <li>
                <a class="link" href="#">Sit amet</a>
            </li>
        </ul>
        <h2 class="secondary-header">Other</h2>
        <ul class="links-list">
        <li>
            <a class="link" href="#">MEP</a>
        </li>
        <li>
            <a class="link" href="#">GLA</a>
        </li>
        <li>
            <a class="link" href="#">Youth MP</a>
        </li>
            </ul>
            </div>

    </div>
</div>

