<div class="home-page page">
<div class="header-container">

    <a class="ward-finder-promo" href="/ward-spotlight">
        <span class="secondary-header">Find my Ward</span>
        <img class="map" src="/assets/westminster.png">
    </a>

    <div class="row">
        <div class="column">
            <h2 class="secondary-header">Who we are and what we do</h2>
            <p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
            <a class="red-button" href="/about-us">About us</a>
        </div>

        <div class="column">
            <%= erb :'_partials/_carousel' %>
        </div>
    </div>

    <h2 class="secondary-header">Listening to views</h2>
    <p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <p class="para">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

    <h2 class="secondary-header">Transparent and Accessible</h2>
    <p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ulla.</p>

    <ul class="links-list">
        <li>
            <a class="link" href="/#">First link</a>
        </li>
        <li>
            <a class="link" href="/#">Second link</a>
        </li>
        <li>
            <a class="link" href="/#">Third link</a>
        </li>
    </ul>

    <h2 class="secondary-header">We aim to keep you in touch</h2>
    <ul class="links-list">
        <li>
            <a class="link" href="/#">Action report archives</a>
        </li>
    </ul>

</div>
</div>

