<!DOCTYPE html>
<html>
<head>
    <title>WLG Prototype</title>
    <link href="https://labourclp9.nationbuilder.com/themes/2/5228cf9c9670a44e95000002/0/attachments/14567632901506005347/default/font.css" rel="stylesheet" type="text/css"/>
    <link href="assets/index.css" rel="stylesheet" type="text/css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="page">
    <%= erb :'_partials/_main_navigation', :locals => {'url' => '/'} %>
    <div class="page-content">
        <%= yield %>
    </div>
    <%= erb :'_partials/_footer_navigation' %>
</div>
<script src="assets/index.js"></script>
</body>
</html>
