<div class="links-page">
    <div class="header-container">
        <h1 class="page-header">Links</h1>
        <ul class="links-list">
            <li>
                <a class="link" href="/#">Karen Buck M.P.</a>
            </li>
            <li>
                <a class="link" href="/#">2 Cities candidates</a>
            </li>
            <li>
                <a class="link" href="/#">WCC</a>
            </li>
            <li>
                <a class="link" href="/#">Lorem ipsum dolar sit amet</a>
            </li>
            <li>
                <a class="link" href="/#">sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</a>
            </li>
            <li>
                <a class="link" href="/#">Ut enim ad minim veniam</a>
            </li>
            <li>
                <a class="link" href="/#">Lorem ipsum dolar sit amet</a>
            </li>
            <li>
                <a class="link" href="/#">sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</a>
            </li>
            <li>
                <a class="link" href="/#">Ut enim ad minim veniam</a>
            </li>
        </ul>
    </div>
</div>



