<div class="officers-and-contacting-us-page">
    <div class="header-container">
        <h1 class="page-header">Local party officers and contacting us</h1>

        <h2 class="secondary-header">Roles and some names</h2>
        <p class="para">
            <img class="profile-image" src="/assets/profile-image.png" alt="image of a person">
            <span class="text">Lorem ipsum dolor sit amet.</span>
        </p>
        <p class="para">
            <img class="profile-image" src="/assets/profile-image.png" alt="image of a person">
            <span class="text">Lorem ipsum dolor sit amet.</span>
        </p>
        <p class="para">
            <img class="profile-image" src="/assets/profile-image.png" alt="image of a person">
            <span class="text">Lorem ipsum dolor sit amet.</span>
        </p>


        <h2 class="secondary-header">General contact</h2>
        <a class="red-button" href="#">someone@somewhere.com</a>

    </div>
</div>

