<div class="offering-help-page">

    <div class="header-container">

        <h1 class="page-header">Volounteer</h1>
        <p class="para">Help to swing the Council!</p>
        <div class="form-container">
            <form>
                <div class="input-container">
                    <h2 class="sub-header">Tell us what kind of help you need</h2>
                </div>
                <div class="input-container half-container">
                    <label class="label">Name</label>
                    <input class="input" type="text">
                </div>
                <div class="input-container half-container">
                    <label class="label">Phone</label>
                    <input class="input" type="text">
                </div>
                <div class="input-container half-container">
                    <label class="label">Email</label>
                    <input class="input" type="text">
                </div>
                <div class="input-container">
                    <label class="label">Comments</label>
                    <textarea class="input" placeholder="Tell us about anything we need to know about">
                    </textarea>
                </div>

                <div class="input-container">
                    <input class="red-button" type="submit" value="Submit">
                </div>

            </form>
        </div>


    </div>
</div>

