<div class="offering-help-page">
    <div class="header-container">
        <h1 class="page-header">Who we are</h1>

        <h2 class="secondary-header">Lancaster Gate Ward</h2>

        <%= erb :'_partials/_councillor_list' %>

        <h2 class="secondary-header">Bayswater Ward</h2>

        <%= erb :'_partials/_councillor_list' %>


        <div class="row">
            <div class="column">
                <h2 class="secondary-header">Ward Action Teams</h2>
                <ul class="links-list">
                    <li>
                        <a class="link" href="#">North Westminster</a>
                    </li>
                    <li>
                        <a class="link" href="#">South and Central Westminster</a>

                    </li>
                </ul>
                <h2 class="secondary-header">Notable recent successes</h2>
                <p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
                <h2 class="secondary-header">Our role as opposition</h2>
                <p class="para">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>

            </div>
            <div class="column">
                <div class="form-container">
                    <form>
                        <div class="input-container">
                            <h2 class="sub-header">Tell us what kind of help you need</h2>
                        </div>
                        <div class="input-container half-container">
                            <label class="label">Name</label>
                            <input class="input" type="text">
                        </div>
                        <div class="input-container half-container">
                            <label class="label">Phone</label>
                            <input class="input" type="text">
                        </div>
                        <div class="input-container half-container">
                            <label class="label">Email</label>
                            <input class="input" type="text">
                        </div>
                        <div class="input-container">
                            <label class="label">Comments</label>
                            <textarea class="input" placeholder="Tell us about anything we need to know about">
                            </textarea>
                        </div>

                        <div class="input-container">
                            <input class="red-button" type="submit" value="Submit">
                        </div>

                    </form>
                </div>

            </div>


        </div>


    </div>
</div>

