@import '../variables';
@import '../mixins';

.carousel {
  margin: 16px 0 0 8px;
  .slide {
    position: relative;
  }
  .secondary-header {
    padding: 10px;
    bottom: 0;
    position: absolute;
    text-align: right;
    right: 0;
    background-color: $white;
  }

  .slide-image {
    width: 100%;
    height: auto;
  }

}

@include respond-to(desktop) {
  .carousel {
    .secondary-header {
      padding: 20px;
    }

  }
}