<ul class="carousel">
    <li class="slide">
        <h2 class="secondary-header">Lorem ipsum dolar sit amet</h2>
        <img class="slide-image" src="/assets/carousel/first-image" alt="First Carousel Image">
    </li>
    <li class="slide">
        <h2 class="secondary-header">Lorem ipsum dolar sit amet</h2>
        <img class="slide-image" src="/assets/carousel/second-image" alt="First Carousel Image">
    </li>
    <li class="slide">
        <h2 class="secondary-header">Lorem ipsum dolar sit amet</h2>
        <img class="slide-image" src="/assets/carousel/third-image" alt="First Carousel Image">
    </li>
</ul>