<ul class="councillor-list">
    <li class="councillor-item">
        <img class="profile-image" src="/assets/profile.gif">
        <h4 class="councillor-title">Councillor name</h4>
        <p class="councillor-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <ul class="social-media-icons">
            <li class="item">
                <a class="link" href="#"><span class="twitter-icon"></span><span class="text">Twitter</span></a>
            </li>
            <li class="item">
                <a class="link" href="#"><span class="facebook-icon"></span><span class="text">Facebook</span></a>
            </li>
        </ul>
    </li>
    <li class="councillor-item">
        <img class="profile-image" src="/assets/profile.gif">
        <h4 class="councillor-title">Councillor name</h4>
        <p class="councillor-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <ul class="social-media-icons">
            <li class="item">
                <a class="link" href="#"><span class="twitter-icon"></span><span class="text">Twitter</span></a>
            </li>
            <li class="item">
                <a class="link" href="#"><span class="facebook-icon"></span><span class="text">Facebook</span></a>
            </li>
        </ul>
    </li>
    <li class="councillor-item">
        <img class="profile-image" src="/assets/profile.gif">
        <h4 class="councillor-title">Councillor name</h4>
        <p class="councillor-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <ul class="social-media-icons">
            <li class="item">
                <a class="link" href="#"><span class="twitter-icon"></span><span class="text">Twitter</span></a>
            </li>
            <li class="item">
                <a class="link" href="#"><span class="facebook-icon"></span><span class="text">Facebook</span></a>
            </li>
        </ul>
    </li>
</ul>