<div class="footer-navigation">
<ul class="nav-list">
    <li class="nav-item">
        <a class="nav-link" href="#">First CLP Website</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Second CLP Website</a>
    </li>
</ul>
</div>