<div class="main-navigation">
    <div class="page-content">
    <a class="home-link" href="/">Westminster Labour Group</a>
    </div>

    <div class="nav-bar">
        <a class="menu-link">
            <span class="hidden-text">Open Menu</span>
            <span class="horizontal-line"></span>
            <span class="horizontal-line"></span>
            <span class="horizontal-line"></span>

        </a>
        <ul class="nav-list">
            <li class="nav-item"><a class="nav-link" href="/who-we-are">Who we are</a></li>
            <li class="nav-item"><a class="nav-link" href="/ward-spotlight">Ward spotlight</a></li>
            <li class="nav-item"><a class="nav-link" href="/elections">Elections</a></li>
            <li class="nav-item"><a class="nav-link" href="/campaigns">Campaigns</a></li>
            <li class="nav-item"><a class="nav-link" href="/links">Links</a></li>
        </ul>

    </div>


</div>