<div class="main-navigation">
    <div class="page-content">
    <a class="home-link" href="/">WNCLP</a>
    </div>

    <div class="nav-bar">
        <a class="menu-link">
            <span class="hidden-text">Open Menu</span>
            <span class="horizontal-line"></span>
            <span class="horizontal-line"></span>
            <span class="horizontal-line"></span>

        </a>
        <ul class="nav-list">
            <li class="nav-item"><a class="nav-link" href="/campaigns">Campaigns</a></li>
            <li class="nav-item"><a class="nav-link" href="/volunteer">Volunteer</a></li>
            <li class="nav-item"><a class="nav-link" href="/elected-representatives">Elected representatives</a></li>
            <li class="nav-item"><a class="nav-link" href="/officers-and-contacting-us">Officers and Contacting Us</a></li>
            <li class="nav-item"><a class="nav-link" href="/member-meetings">Member
                Meetings</a></li>
            <li class="nav-item"><a class="nav-link" href="/donate">Donate</a></li>
        </ul>
    </div>

</div>