<div class="sidebar">
    <ul>
        <li>
            <a class="red-button" href="#">Karen Buck MP</a>
        </li>
        <li>
            <a class="red-button" href="#">WCCLG</a>
        </li>
        <li>
            <a class="red-button" href="#">Facebook</a>
        </li>
    </ul>
    <ul class="links-list">
        <li>
            <a class="link">Lorem</a>
        </li>
        <li>
            <a class="link">Ipsum</a>
        </li>
        <li>
            <a class="link">Dolar sit</a>
        </li>
    </ul>
</div>