<ul class="ward-content">
<li class="ward-information hidden">
    <h2 class="secondary-header"><span class="ward-name"></span> Ward</h2>
</li>

<li class="abbey-road-panel ward-panel hidden">
    <p class="main-pitch">Main pitch for Abbey Road Ward. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <h3 class="candidates-title">Candidates</h3>
    <ul class="candidate-list">
        <li class="candidate-item">
            <img class="profile-image"src="/assets/profile.gif">
            <h4 class="candidate-title">AR First Candidate</h4>
            <p class="candidate-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <ul class="social-media-icons">
                <li class="item">
                    <a class="link" href="#"><span class="twitter-icon"></span><span class="text">Twitter</span></a>
                </li>
                <li class="item">
                    <a class="link" href="#"><span class="facebook-icon"></span><span class="text">Facebook</span></a>
                </li>
            </ul>
        </li>
        <li class="candidate-item">
            <img class="profile-image" src="/assets/profile.gif">
            <h4 class="candidate-title">AR Second Candidate</h4>
            <p class="candidate-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <ul class="social-media-icons">
                <li class="item">
                    <a class="link" href="#"><span class="twitter-icon"></span><span class="text">Twitter</span></a>
                </li>
                <li class="item">
                    <a class="link" href="#"><span class="facebook-icon"></span><span class="text">Facebook</span></a>
                </li>
            </ul>
        </li>
    </ul>
</li>

<li class="bayswater-panel ward-panel hidden">
    <p class="main-pitch">Main pitch for Abbey Road Ward. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <h3 class="candidates-title">Candidates</h3>
    <ul class="candidate-list">
        <li class="candidate-item">
            <img class="profile-image"src="/assets/profile.gif">
            <h4 class="candidate-title">AR First Candidate</h4>
            <p class="candidate-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <ul class="social-media-icons">
                <li class="item">
                    <a class="link" href="#"><span class="twitter-icon"></span><span class="text">Twitter</span></a>
                </li>
                <li class="item">
                    <a class="link" href="#"><span class="facebook-icon"></span><span class="text">Facebook</span></a>
                </li>
            </ul>
        </li>
        <li class="candidate-item">
            <img class="profile-image" src="/assets/profile.gif">
            <h4 class="candidate-title">AR Second Candidate</h4>
            <p class="candidate-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <ul class="social-media-icons">
                <li class="item">
                    <a class="link" href="#"><span class="twitter-icon"></span><span class="text">Twitter</span></a>
                </li>
                <li class="item">
                    <a class="link" href="#"><span class="facebook-icon"></span><span class="text">Facebook</span></a>
                </li>
            </ul>
        </li>
    </ul>
</li>

<li class="bryanston-and-dorset-square-panel ward-panel hidden">
    <p class="main-pitch">Main pitch for Bryanston and Dorset Square. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <h3 class="candidates-title">Candidates</h3>
    <ul class="candidate-list">
        <li class="candidate-item">
            <img class="profile-image"src="/assets/profile.gif">
            <h4 class="candidate-title">BADSP First Candidate</h4>
            <p class="candidate-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <ul class="social-media-icons">
                <li class="item">
                    <a class="link" href="#"><span class="twitter-icon"></span><span class="text">Twitter</span></a>
                </li>
                <li class="item">
                    <a class="link" href="#"><span class="facebook-icon"></span><span class="text">Facebook</span></a>
                </li>
            </ul>
        </li>
        <li class="candidate-item">
            <img class="profile-image" src="/assets/profile.gif">
            <h4 class="candidate-title">BADSP Second Candidate</h4>
            <p class="candidate-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <ul class="social-media-icons">
                <li class="item">
                    <a class="link" href="#"><span class="twitter-icon"></span><span class="text">Twitter</span></a>
                </li>
                <li class="item">
                    <a class="link" href="#"><span class="facebook-icon"></span><span class="text">Facebook</span></a>
                </li>
            </ul>
        </li>
    </ul>
</li>

<li class="church-street-panel ward-panel hidden">
    <p class="main-pitch">Main pitch for Church Street. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <h3 class="candidates-title">Candidates</h3>
    <ul class="candidate-list">
        <li class="candidate-item">
            <img class="profile-image"src="/assets/profile.gif">
            <h4 class="candidate-title">CS First Candidate</h4>
            <p class="candidate-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <ul class="social-media-icons">
                <li class="item">
                    <a class="link" href="#"><span class="twitter-icon"></span><span class="text">Twitter</span></a>
                </li>
                <li class="item">
                    <a class="link" href="#"><span class="facebook-icon"></span><span class="text">Facebook</span></a>
                </li>
            </ul>
        </li>
        <li class="candidate-item">
            <img class="profile-image" src="/assets/profile.gif">
            <h4 class="candidate-title">CS Second Candidate</h4>
            <p class="candidate-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <ul class="social-media-icons">
                <li class="item">
                    <a class="link" href="#"><span class="twitter-icon"></span><span class="text">Twitter</span></a>
                </li>
                <li class="item">
                    <a class="link" href="#"><span class="facebook-icon"></span><span class="text">Facebook</span></a>
                </li>
            </ul>
        </li>
    </ul>
</li>

<li class="churchill-panel ward-panel hidden">
    <p class="main-pitch">Main pitch for Churchill Street. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <h3 class="candidates-title">Candidates</h3>
    <ul class="candidate-list">
        <li class="candidate-item">
            <img class="profile-image"src="/assets/profile.gif">
            <h4 class="candidate-title">Churchill First Candidate</h4>
            <p class="candidate-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <ul class="social-media-icons">
                <li class="item">
                    <a class="link" href="#"><span class="twitter-icon"></span><span class="text">Twitter</span></a>
                </li>
                <li class="item">
                    <a class="link" href="#"><span class="facebook-icon"></span><span class="text">Facebook</span></a>
                </li>
            </ul>
        </li>
        <li class="candidate-item">
            <img class="profile-image" src="/assets/profile.gif">
            <h4 class="candidate-title">Churchill Second Candidate</h4>
            <p class="candidate-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <ul class="social-media-icons">
                <li class="item">
                    <a class="link" href="#"><span class="twitter-icon"></span><span class="text">Twitter</span></a>
                </li>
                <li class="item">
                    <a class="link" href="#"><span class="facebook-icon"></span><span class="text">Facebook</span></a>
                </li>
            </ul>
        </li>
    </ul>
</li>

<li class="harrow-road-panel ward-panel hidden">
    <p class="main-pitch">Main pitch for Harrow Road. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <h3 class="candidates-title">Candidates</h3>
    <ul class="candidate-list">
        <li class="candidate-item">
            <img class="profile-image"src="/assets/profile.gif">
            <h4 class="candidate-title">HR First Candidate</h4>
            <p class="candidate-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <ul class="social-media-icons">
                <li class="item">
                    <a class="link" href="#"><span class="twitter-icon"></span><span class="text">Twitter</span></a>
                </li>
                <li class="item">
                    <a class="link" href="#"><span class="facebook-icon"></span><span class="text">Facebook</span></a>
                </li>
            </ul>
        </li>
        <li class="candidate-item">
            <img class="profile-image" src="/assets/profile.gif">
            <h4 class="candidate-title">HR Second Candidate</h4>
            <p class="candidate-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <ul class="social-media-icons">
                <li class="item">
                    <a class="link" href="#"><span class="twitter-icon"></span><span class="text">Twitter</span></a>
                </li>
                <li class="item">
                    <a class="link" href="#"><span class="facebook-icon"></span><span class="text">Facebook</span></a>
                </li>
            </ul>
        </li>
    </ul>
</li>

<li class="hyde-park-panel ward-panel hidden">
    <p class="main-pitch">Main pitch for Harrow Road. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <h3 class="candidates-title">Candidates</h3>
    <ul class="candidate-list">
        <li class="candidate-item">
            <img class="profile-image"src="/assets/profile.gif">
            <h4 class="candidate-title">Hyde Park First Candidate</h4>
            <p class="candidate-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <ul class="social-media-icons">
                <li class="item">
                    <a class="link" href="#"><span class="twitter-icon"></span><span class="text">Twitter</span></a>
                </li>
                <li class="item">
                    <a class="link" href="#"><span class="facebook-icon"></span><span class="text">Facebook</span></a>
                </li>
            </ul>
        </li>
        <li class="candidate-item">
            <img class="profile-image" src="/assets/profile.gif">
            <h4 class="candidate-title">Hyde Park Second Candidate</h4>
            <p class="candidate-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <ul class="social-media-icons">
                <li class="item">
                    <a class="link" href="#"><span class="twitter-icon"></span><span class="text">Twitter</span></a>
                </li>
                <li class="item">
                    <a class="link" href="#"><span class="facebook-icon"></span><span class="text">Facebook</span></a>
                </li>
            </ul>
        </li>
    </ul>
</li>

<li class="knightsbridge-and-belgraia-panel ward-panel hidden">
    <p class="main-pitch">Main pitch for Harrow Road. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <h3 class="candidates-title">Candidates</h3>
    <ul class="candidate-list">
        <li class="candidate-item">
            <img class="profile-image"src="/assets/profile.gif">
            <h4 class="candidate-title">Knightsbridge First Candidate</h4>
            <p class="candidate-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <ul class="social-media-icons">
                <li class="item">
                    <a class="link" href="#"><span class="twitter-icon"></span><span class="text">Twitter</span></a>
                </li>
                <li class="item">
                    <a class="link" href="#"><span class="facebook-icon"></span><span class="text">Facebook</span></a>
                </li>
            </ul>
        </li>
        <li class="candidate-item">
            <img class="profile-image" src="/assets/profile.gif">
            <h4 class="candidate-title">Knightsbridge Second Candidate</h4>
            <p class="candidate-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <ul class="social-media-icons">
                <li class="item">
                    <a class="link" href="#"><span class="twitter-icon"></span><span class="text">Twitter</span></a>
                </li>
                <li class="item">
                    <a class="link" href="#"><span class="facebook-icon"></span><span class="text">Facebook</span></a>
                </li>
            </ul>
        </li>
    </ul>
</li>

<li class="lancaster-gate-panel ward-panel hidden">
    <p class="main-pitch">Main pitch for Lancaster gate ward. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <h3 class="candidates-title">Candidates</h3>
    <ul class="candidate-list">
        <li class="candidate-item">
            <img class="profile-image" src="/assets/profile.gif">
            <h4 class="candidate-title">Lan Gate First Candidate</h4>
            <p class="candidate-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <ul class="social-media-icons">
                <li class="item">
                    <a class="link" href="#"><span class="twitter-icon"></span><span class="text">Twitter</span></a>
                </li>
                <li class="item">
                    <a class="link" href="#"><span class="facebook-icon"></span><span class="text">Facebook</span></a>
                </li>
            </ul>
        </li>
        <li class="candidate-item">
            <img class="profile-image" src="/assets/profile.gif">
            <h4 class="candidate-title">Lan Gate Second Candidate</h4>
            <p class="candidate-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua labore et dolore magna aliqua. Lorem ipsum.</p>
            <ul class="social-media-icons">
                <li class="item">
                    <a class="link" href="#"><span class="twitter-icon"></span><span class="text">Twitter</span></a>
                </li>
                <li class="item">
                    <a class="link" href="#"><span class="facebook-icon"></span><span class="text">Facebook</span></a>
                </li>
            </ul>
        </li>
        <li class="candidate-item">
            <img class="profile-image" src="/assets/profile.gif">
            <h4 class="candidate-title">Lan Gate Third Candidate</h4>
            <p class="candidate-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.</p>
            <ul class="social-media-icons">
                <li class="item">
                    <a class="link" href="#"><span class="twitter-icon"></span><span class="text">Twitter</span></a>
                </li>
                <li class="item">
                    <a class="link" href="#"><span class="facebook-icon"></span><span class="text">Facebook</span></a>
                </li>
            </ul>
        </li>
    </ul>
</li>

<li class="little-venice-panel ward-panel hidden">
    <p class="main-pitch">Main pitch for Lancaster gate ward. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <h3 class="candidates-title">Candidates</h3>
    <ul class="candidate-list">
        <li class="candidate-item">
            <img class="profile-image" src="/assets/profile.gif">
            <h4 class="candidate-title">Little Venice First Candidate</h4>
            <p class="candidate-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <ul class="social-media-icons">
                <li class="item">
                    <a class="link" href="#"><span class="twitter-icon"></span><span class="text">Twitter</span></a>
                </li>
                <li class="item">
                    <a class="link" href="#"><span class="facebook-icon"></span><span class="text">Facebook</span></a>
                </li>
            </ul>
        </li>
        <li class="candidate-item">
            <img class="profile-image" src="/assets/profile.gif">
            <h4 class="candidate-title">Little Venice Second Candidate</h4>
            <p class="candidate-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua labore et dolore magna aliqua. Lorem ipsum.</p>
            <ul class="social-media-icons">
                <li class="item">
                    <a class="link" href="#"><span class="twitter-icon"></span><span class="text">Twitter</span></a>
                </li>
                <li class="item">
                    <a class="link" href="#"><span class="facebook-icon"></span><span class="text">Facebook</span></a>
                </li>
            </ul>
        </li>
        <li class="candidate-item">
            <img class="profile-image" src="/assets/profile.gif">
            <h4 class="candidate-title">Little Venice Third Candidate</h4>
            <p class="candidate-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.</p>
            <ul class="social-media-icons">
                <li class="item">
                    <a class="link" href="#"><span class="twitter-icon"></span><span class="text">Twitter</span></a>
                </li>
                <li class="item">
                    <a class="link" href="#"><span class="facebook-icon"></span><span class="text">Facebook</span></a>
                </li>
            </ul>
        </li>
    </ul>
</li>

<li class="maida-vale-panel ward-panel hidden">
    <p class="main-pitch">Main pitch for Maida Vale. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <h3 class="candidates-title">Candidates</h3>
    <ul class="candidate-list">
        <li class="candidate-item">
            <img class="profile-image"src="/assets/profile.gif">
            <h4 class="candidate-title">Maida Vale First Candidate</h4>
            <p class="candidate-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <ul class="social-media-icons">
                <li class="item">
                    <a class="link" href="#"><span class="twitter-icon"></span><span class="text">Twitter</span></a>
                </li>
                <li class="item">
                    <a class="link" href="#"><span class="facebook-icon"></span><span class="text">Facebook</span></a>
                </li>
            </ul>
        </li>
        <li class="candidate-item">
            <img class="profile-image" src="/assets/profile.gif">
            <h4 class="candidate-title">Maida Vale Second Candidate</h4>
            <p class="candidate-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <ul class="social-media-icons">
                <li class="item">
                    <a class="link" href="#"><span class="twitter-icon"></span><span class="text">Twitter</span></a>
                </li>
                <li class="item">
                    <a class="link" href="#"><span class="facebook-icon"></span><span class="text">Facebook</span></a>
                </li>
            </ul>
        </li>
    </ul>
</li>

<li class="marylebone-high-street-panel ward-panel hidden">
    <p class="main-pitch">Main pitch for Marglebone High Street. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <h3 class="candidates-title">Candidates</h3>
    <ul class="candidate-list">
        <li class="candidate-item">
            <img class="profile-image"src="/assets/profile.gif">
            <h4 class="candidate-title">Marglebone High Street First Candidate</h4>
            <p class="candidate-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <ul class="social-media-icons">
                <li class="item">
                    <a class="link" href="#"><span class="twitter-icon"></span><span class="text">Twitter</span></a>
                </li>
                <li class="item">
                    <a class="link" href="#"><span class="facebook-icon"></span><span class="text">Facebook</span></a>
                </li>
            </ul>
        </li>
        <li class="candidate-item">
            <img class="profile-image" src="/assets/profile.gif">
            <h4 class="candidate-title">Marglebone High Street Second Candidate</h4>
            <p class="candidate-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <ul class="social-media-icons">
                <li class="item">
                    <a class="link" href="#"><span class="twitter-icon"></span><span class="text">Twitter</span></a>
                </li>
                <li class="item">
                    <a class="link" href="#"><span class="facebook-icon"></span><span class="text">Facebook</span></a>
                </li>
            </ul>
        </li>
    </ul>
</li>

<li class="queens-park-panel ward-panel hidden">
    <p class="main-pitch">Main pitch for Queen's Park. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <h3 class="candidates-title">Candidates</h3>
    <ul class="candidate-list">
        <li class="candidate-item">
            <img class="profile-image"src="/assets/profile.gif">
            <h4 class="candidate-title">Queen's Park First Candidate</h4>
            <p class="candidate-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <ul class="social-media-icons">
                <li class="item">
                    <a class="link" href="#"><span class="twitter-icon"></span><span class="text">Twitter</span></a>
                </li>
                <li class="item">
                    <a class="link" href="#"><span class="facebook-icon"></span><span class="text">Facebook</span></a>
                </li>
            </ul>
        </li>
        <li class="candidate-item">
            <img class="profile-image" src="/assets/profile.gif">
            <h4 class="candidate-title">Queen's Park Second Candidate</h4>
            <p class="candidate-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <ul class="social-media-icons">
                <li class="item">
                    <a class="link" href="#"><span class="twitter-icon"></span><span class="text">Twitter</span></a>
                </li>
                <li class="item">
                    <a class="link" href="#"><span class="facebook-icon"></span><span class="text">Facebook</span></a>
                </li>
            </ul>
        </li>
    </ul>
</li>

<li class="regents-park-panel ward-panel hidden">
    <p class="main-pitch">Main pitch for Regent's Park. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <h3 class="candidates-title">Candidates</h3>
    <ul class="candidate-list">
        <li class="candidate-item">
            <img class="profile-image"src="/assets/profile.gif">
            <h4 class="candidate-title">Regent's Park First Candidate</h4>
            <p class="candidate-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <ul class="social-media-icons">
                <li class="item">
                    <a class="link" href="#"><span class="twitter-icon"></span><span class="text">Twitter</span></a>
                </li>
                <li class="item">
                    <a class="link" href="#"><span class="facebook-icon"></span><span class="text">Facebook</span></a>
                </li>
            </ul>
        </li>
        <li class="candidate-item">
            <img class="profile-image" src="/assets/profile.gif">
            <h4 class="candidate-title">Regent's Park Second Candidate</h4>
            <p class="candidate-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <ul class="social-media-icons">
                <li class="item">
                    <a class="link" href="#"><span class="twitter-icon"></span><span class="text">Twitter</span></a>
                </li>
                <li class="item">
                    <a class="link" href="#"><span class="facebook-icon"></span><span class="text">Facebook</span></a>
                </li>
            </ul>
        </li>
    </ul>
</li>

<li class="st-jamess-panel ward-panel hidden">
    <p class="main-pitch">Main pitch for St James's. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <h3 class="candidates-title">Candidates</h3>
    <ul class="candidate-list">
        <li class="candidate-item">
            <img class="profile-image"src="/assets/profile.gif">
            <h4 class="candidate-title">St James's First Candidate</h4>
            <p class="candidate-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <ul class="social-media-icons">
                <li class="item">
                    <a class="link" href="#"><span class="twitter-icon"></span><span class="text">Twitter</span></a>
                </li>
                <li class="item">
                    <a class="link" href="#"><span class="facebook-icon"></span><span class="text">Facebook</span></a>
                </li>
            </ul>
        </li>
        <li class="candidate-item">
            <img class="profile-image" src="/assets/profile.gif">
            <h4 class="candidate-title">St James's Second Candidate</h4>
            <p class="candidate-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <ul class="social-media-icons">
                <li class="item">
                    <a class="link" href="#"><span class="twitter-icon"></span><span class="text">Twitter</span></a>
                </li>
                <li class="item">
                    <a class="link" href="#"><span class="facebook-icon"></span><span class="text">Facebook</span></a>
                </li>
            </ul>
        </li>
    </ul>
</li>

<li class="tachbrook-panel ward-panel hidden">
    <p class="main-pitch">Main pitch for Tachbrook. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <h3 class="candidates-title">Candidates</h3>
    <ul class="candidate-list">
        <li class="candidate-item">
            <img class="profile-image"src="/assets/profile.gif">
            <h4 class="candidate-title">Tachbrook First Candidate</h4>
            <p class="candidate-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <ul class="social-media-icons">
                <li class="item">
                    <a class="link" href="#"><span class="twitter-icon"></span><span class="text">Twitter</span></a>
                </li>
                <li class="item">
                    <a class="link" href="#"><span class="facebook-icon"></span><span class="text">Facebook</span></a>
                </li>
            </ul>
        </li>
        <li class="candidate-item">
            <img class="profile-image" src="/assets/profile.gif">
            <h4 class="candidate-title">Tachbrook Second Candidate</h4>
            <p class="candidate-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <ul class="social-media-icons">
                <li class="item">
                    <a class="link" href="#"><span class="twitter-icon"></span><span class="text">Twitter</span></a>
                </li>
                <li class="item">
                    <a class="link" href="#"><span class="facebook-icon"></span><span class="text">Facebook</span></a>
                </li>
            </ul>
        </li>
    </ul>
</li>

<li class="vincent-square-panel ward-panel hidden">
    <p class="main-pitch">Main pitch for Vincent Square. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <h3 class="candidates-title">Candidates</h3>
    <ul class="candidate-list">
        <li class="candidate-item">
            <img class="profile-image"src="/assets/profile.gif">
            <h4 class="candidate-title">Vincent Square First Candidate</h4>
            <p class="candidate-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <ul class="social-media-icons">
                <li class="item">
                    <a class="link" href="#"><span class="twitter-icon"></span><span class="text">Twitter</span></a>
                </li>
                <li class="item">
                    <a class="link" href="#"><span class="facebook-icon"></span><span class="text">Facebook</span></a>
                </li>
            </ul>
        </li>
        <li class="candidate-item">
            <img class="profile-image" src="/assets/profile.gif">
            <h4 class="candidate-title">Vincent Square Second Candidate</h4>
            <p class="candidate-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <ul class="social-media-icons">
                <li class="item">
                    <a class="link" href="#"><span class="twitter-icon"></span><span class="text">Twitter</span></a>
                </li>
                <li class="item">
                    <a class="link" href="#"><span class="facebook-icon"></span><span class="text">Facebook</span></a>
                </li>
            </ul>
        </li>
    </ul>
</li>

<li class="warwick-panel ward-panel hidden">
    <p class="main-pitch">Main pitch for Warwick. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <h3 class="candidates-title">Candidates</h3>
    <ul class="candidate-list">
        <li class="candidate-item">
            <img class="profile-image"src="/assets/profile.gif">
            <h4 class="candidate-title">Warwick First Candidate</h4>
            <p class="candidate-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <ul class="social-media-icons">
                <li class="item">
                    <a class="link" href="#"><span class="twitter-icon"></span><span class="text">Twitter</span></a>
                </li>
                <li class="item">
                    <a class="link" href="#"><span class="facebook-icon"></span><span class="text">Facebook</span></a>
                </li>
            </ul>
        </li>
        <li class="candidate-item">
            <img class="profile-image" src="/assets/profile.gif">
            <h4 class="candidate-title">Warwick Second Candidate</h4>
            <p class="candidate-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <ul class="social-media-icons">
                <li class="item">
                    <a class="link" href="#"><span class="twitter-icon"></span><span class="text">Twitter</span></a>
                </li>
                <li class="item">
                    <a class="link" href="#"><span class="facebook-icon"></span><span class="text">Facebook</span></a>
                </li>
            </ul>
        </li>
    </ul>
</li>

<li class="west-end-panel ward-panel hidden">
    <p class="main-pitch">Main pitch for West End. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <h3 class="candidates-title">Candidates</h3>
    <ul class="candidate-list">
        <li class="candidate-item">
            <img class="profile-image"src="/assets/profile.gif">
            <h4 class="candidate-title">West End First Candidate</h4>
            <p class="candidate-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <ul class="social-media-icons">
                <li class="item">
                    <a class="link" href="#"><span class="twitter-icon"></span><span class="text">Twitter</span></a>
                </li>
                <li class="item">
                    <a class="link" href="#"><span class="facebook-icon"></span><span class="text">Facebook</span></a>
                </li>
            </ul>
        </li>
        <li class="candidate-item">
            <img class="profile-image" src="/assets/profile.gif">
            <h4 class="candidate-title">West End Second Candidate</h4>
            <p class="candidate-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <ul class="social-media-icons">
                <li class="item">
                    <a class="link" href="#"><span class="twitter-icon"></span><span class="text">Twitter</span></a>
                </li>
                <li class="item">
                    <a class="link" href="#"><span class="facebook-icon"></span><span class="text">Facebook</span></a>
                </li>
            </ul>
        </li>
    </ul>
</li>

<li class="westbourne-panel ward-panel hidden">
    <p class="main-pitch">Main pitch for Westbourne. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <h3 class="candidates-title">Candidates</h3>
    <ul class="candidate-list">
        <li class="candidate-item">
            <img class="profile-image"src="/assets/profile.gif">
            <h4 class="candidate-title">Westbourne First Candidate</h4>
            <p class="candidate-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <ul class="social-media-icons">
                <li class="item">
                    <a class="link" href="#"><span class="twitter-icon"></span><span class="text">Twitter</span></a>
                </li>
                <li class="item">
                    <a class="link" href="#"><span class="facebook-icon"></span><span class="text">Facebook</span></a>
                </li>
            </ul>
        </li>
        <li class="candidate-item">
            <img class="profile-image" src="/assets/profile.gif">
            <h4 class="candidate-title">Westbourne Second Candidate</h4>
            <p class="candidate-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            <ul class="social-media-icons">
                <li class="item">
                    <a class="link" href="#"><span class="twitter-icon"></span><span class="text">Twitter</span></a>
                </li>
                <li class="item">
                    <a class="link" href="#"><span class="facebook-icon"></span><span class="text">Facebook</span></a>
                </li>
            </ul>
        </li>
    </ul>
</li>




</ul>