<div class="ward-finder-box">
    <!--<form class="detect-button-form">-->
    <!--<button class="red-button" type="button">Auto detect my ward</button>-->
    <!--</form>-->
    <h2 class="secondary-header">Enter postcode</h2>
    <form class="postcode-form">
        <input class="postcode-input" type="text" />
        <input class="red-button" type="submit" value="Search"/>
    </form>
    <!--<div class="address-information">-->
    <!--<h3 class="address-header">Address</h3>-->
    <!--<ul>-->
    <!--<li class="address-first-line"></li>-->
    <!--<li>London</li>-->
    <!--<li class="address-postcode-line"></li>-->
    <!--</ul>-->
    <!--</div>-->
</div>

