//colours

$light-red: #fe584c;
$labour-red: #f73b2b;
$button-red: #ff1200;
$highlight-red: #ee3224;
$crimson: #c20004;

$yellow: #fffbbf;

$white: #fff;
$light-grey: #f3f3f3;
$paper-white: #f8f8f8;
$byline-text: #999;
$regular-grey: #505054;
$dark-grey: #303030;
$header-black: #1e1e1e;
$black: #000;

