@import 'variables';
@import 'mixins';

.home-page {

  padding-bottom: 30px;

  .red-button {
    margin-top: 8px;
  }


  .text {
    display: block;
  }
}

@include respond-to(tablet) {
  .home-page {
    .profile-image {
      float: left;
      margin-right: 16px;
    }
    .text {
      display: inline;
    }
    .para {
      overflow: hidden;
    }
  }
}


